body {
  font-family: Sans-Serif;
  background-color: #354582;
  color: #d7ddf2;
  margin: 0px;
}

div.header{
    width: 100%;
    height: 270px;
    background-image: url('/img/stars_short.jpg');
    position: relative;
}

div.header-inner{
    width: 640px;
    margin-left: 200px;
    margin-right: auto;
}

h1.header{
    font-size: 48pt;
    font-weight: normal;
}

.subheader{
    position: absolute;
    bottom: 0px;
    left: 200px;
}

div.wrapper{
    width: 1000px;
    margin-top: 40px;
    margin-right:auto;
    padding: 0px;
}

.tech-text{
    text-align: center;
    color: #E0B2E0;
}

p{
    line-height: 1.5;
}

table.wrapper{
    border-spacing: 0px;
    padding: 0px
}

td.nospace{
    padding: 0px
}

td.sidebar{
    vertical-align: top;
}

div.sidebar{
    width: 160px;
    margin-left: 0px;
    margin-right: 40px;
}

.sidebar-link{
    color: #FFFFFF;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.sidebar-link:hover{
    background-color: #82a3d8;
}

.link-text{
    text-decoration: none;
    color: #290029;
}

.tech-link{
    color: #833083;
}

.divider{
    margin-top: 20px;
    margin-bottom: 20px;
}
