:root {
    --main-background-color: #ededf8;
    --header-text-color: #c7cde0;
    --subheader-text-color: #87a3af;
    --section-header-color: #0c404f;
    --main-text-color: #065F8B;
    --sidebar-link-color: #0c404f;

    --header-font: 'Audiowide', sans-serif;
    --body-font: 'Quattrocento', serif;
}

body {
  background-color: var(--main-background-color);
  margin: 0px;
}

div.header{
    width: 100%;
    height: 270px;
    background-image: url('/img/stars_short.jpg');
    position: relative;
}

div.header-inner{
    width: 640px;
    margin-left: 200px;
    margin-right: auto;
}

h1.header{
    font-family: var(--header-font);
    font-size: 48pt;
    font-weight: normal;
    color: var(--header-text-color);
}

.subheader{
    position: absolute;
    bottom: 0px;
    left: 200px;
    color: var(--subheader-text-color);
    font-family: var(--header-font);
}

div.wrapper{
    width: 1000px;
    margin-top: 40px;
    margin-right:auto;
    padding: 0px;
    margin-bottom: 60px;
}

h3, h2 {
    color: var(--section-header-color);
    font-family: var(--header-font);
}

p{
    line-height: 1.5;
    color: var(--main-text-color);
    font-family: var(--body-font);
}

table.wrapper{
    border-spacing: 0px;
    padding: 0px
}

td.nospace{
    padding: 0px
}

td.sidebar{
    vertical-align: top;
}

div.sidebar{
    width: 140px;
    margin-left: 20px;
    margin-right: 40px;
}

.link-text{
    text-decoration: none;
    color: var(--sidebar-link-color);
    font-family: var(--header-font);
}

.divider{
    margin-top: 20px;
    margin-bottom: 20px;
}
