<head>
    <title>Next Generation Dance Camp</title>
    <link rel="stylesheet" type="text/css" href="nextgendancecamp.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Montserrat:400,600" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
    <div class="header">
        <div class="header-inner">
            <h1 class="header">Next Generation Dance Camp</h1>
            <h2 class="subheader">October 5-7, 2018  •  Mt. Hood Kiwanis Camp </h2>
        </div>
    </div>
    <div class="wrapper">
        <table class="wrapper">
            <tr>
                <td class="sidebar">
                    <div class="sidebar nospace">
                        <a href="/index.html" class="link-text"><h2>Home</h2></a>
                        <a href="/registration.html" class="link-text"><h2>Registration</h2></a>
                        <a href="/email_list.html" class="link-text"><h2>Email List</h2></a>
                    </div>
                </td>
                <td class="nospace">
                    <div>
                        <div class="content">
                            {{content}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
